@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular.svg") format("svg"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;
  min-height: 100%;
}

.header {
  background-color: #635854;
  border-bottom: solid 4px #3596F5;
  border-top: solid 9px #635854;
  color: #fff;
}
.header a {
  color: inherit;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container .header__logo {
  cursor: pointer;
}
.header__container ul {
  display: flex;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 9px;
}

.navbar__panel {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link__navbar {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
}
.link__navbar:hover {
  color: #3596F5;
}

.header__nav {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.navbar__contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  margin-left: 80px;
}
.navbar__contacts a {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
}
.navbar__contacts a:hover {
  color: #3596F5;
}

.menu-button {
  display: none;
}

.main {
  max-width: 1280px;
  display: flex;
  padding-top: 54px;
  padding-bottom: 171px;
  margin: auto;
}

.home-image {
  height: auto;
  width: 100%;
  max-width: 734px;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 0.85;
}
.home-image path.current-floor {
  opacity: 0.85;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-info img {
  display: block;
  margin: auto;
}

.main-title {
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.counter__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__namber {
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 105px;
  color: #635854;
}

.arrow {
  background-color: #fff;
}

.arrow-1 {
  padding-bottom: 35px;
  cursor: pointer;
}

.arrow-2 {
  transform: rotate(180deg);
  padding-bottom: 35px;
  cursor: pointer;
}

.floor__button {
  width: 297px;
  height: 51px;
  cursor: pointer;
  background: #3596F5;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  display: grid;
  flex-wrap: wrap;
  align-content: center;
}
.floor__button button {
  background: inherit;
}
.floor__button:hover {
  background: #307ac4;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}
.floor__button:active {
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1003px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}
.modal-image .flats path {
  opacity: 0;
  cursor: pointer;
}
.modal-image .flats path:hover {
  opacity: 1;
}

.modal-title {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.modal-info {
  padding: 50px 46px;
  width: 40%;
  font-family: "BebasNeueRegular";
  font-size: 24px;
  line-height: 29px;
}
.modal-info a {
  color: #635854;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
}
.modal-info a:hover {
  color: #3596F5;
  text-decoration: underline;
}
.modal-info .flat-list {
  padding-top: 55px;
  padding-bottom: 45px;
}
.modal-info p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}

.modal-close-button {
  position: absolute;
  right: 27px;
  top: 27px;
  background-color: transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #D7D7D7;
  height: 171px;
  width: 100%;
  margin-top: auto;
  align-items: center;
  border-top: solid 4px #3596F5;
  padding-right: 81px;
  padding-left: 81px;
}

.footer-left {
  display: flex;
}
.footer-left img {
  cursor: pointer;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 37px;
  margin-right: 59px;
}
.footer-contacts span {
  font-size: 14px;
  line-height: 16px;
  color: #635854;
}
.footer-contacts a {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #635854;
  cursor: pointer;
}
.footer-contacts a:hover {
  color: #3596F5;
}

.footer-right {
  display: flex;
  font-size: 16px;
  line-height: 19px;
}
.footer-right a {
  color: #635854;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer-right a:nth-child(2) {
  padding-right: 20px;
  padding-left: 20px;
}
.footer-right a:hover {
  color: #3596F5;
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
    max-width: 1280px;
  }
  .navbar__contacts {
    margin-left: 60px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
    max-width: 960px;
  }
  .link__navbar {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main-info {
    margin-left: 40px;
  }
  .navbar__contacts {
    margin-left: 40px;
  }
  .navbar__panel {
    display: contents;
  }
  .counter {
    font-size: 95px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 90%;
    max-width: 760px;
  }
  .navbar__panel {
    display: none;
    position: absolute;
    top: 60px;
    right: 60px;
    background-color: #635854;
    padding: 15px;
    border-radius: 5px;
  }
  .header__nav {
    display: block;
    text-align: center;
  }
  .navbar__contacts {
    text-align: center;
    margin: auto;
  }
  .navbar__contacts a:hover {
    color: #3596F5;
  }
  .navbar__content {
    display: block;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .navbar__content :hover {
    color: #3596F5;
  }
  .link__navbar {
    margin-bottom: 15px;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  .menu-button .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
  }
  .counter {
    font-size: 80px;
  }
  .arrow {
    padding-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .main {
    display: block;
  }
  .main-info {
    margin-top: 25px;
    margin-right: 40px;
    margin-bottom: 25px;
  }
  .modal-dialog {
    display: block;
    max-width: 433px;
  }
  .modal-image {
    width: 100%;
  }
  .modal-info {
    width: 100%;
    text-align: center;
  }
  .arrow {
    padding-bottom: 20px;
  }
  .counter__group {
    margin-top: 27px;
    margin-bottom: 27px;
  }
}