@import "_nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.svg') format('svg'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
}

.header{
    background-color: #635854;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: solid 4px #3596F5;
    color: #fff;
    a{
        color: inherit;
    }
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo{
        cursor: pointer;
    }
    ul{
        display: flex;
        font-size: 16px;
        line-height: 18.75px;
    }
}
.navbar__panel{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link__navbar{
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
    }
.header__nav{
    margin-right: auto;
    margin-left: auto;
}



.navbar__contacts{
    display:grid; // Проверь как лучше !!!//
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    a{
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        cursor: pointer;
    }
}
.menu-button{
    display: none;
}

.main{
    max-width: 1280px;
    display: flex;
    padding-top: 54px;
    margin: auto;
}

.home-image{
    height: auto;
    width: 100%;
    max-width: 734px;
    path{
        opacity: 0;
        cursor: pointer;
    }
    path:hover{
        opacity: 0.85;
    }
    path.current-floor{
        opacity: 0.85;  //Здесь класс, котрый был создан в JS !//
    }
}

.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img{
        display: block;
        margin: auto;
    }
}

.main-title{
    font-family: 'BebasNeueRegular' , sans-serif;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}

.counter__group{
    display: flex;
    flex-direction: column;
    align-items:center;
    span{
        font-family: 'BebasNeueRegular', sans-serif;
        font-size: 105px;
        color: #635854;
    }
}



.arrow{
    background-color:#fff;
}

.arrow-1{
    padding-bottom: 35px;
    cursor: pointer;
}

.arrow-2{
    transform: rotate(180deg);
    padding-bottom: 35px;
    cursor: pointer;
}

.floor__button{
    width: 297px;
    height: 51px;
    cursor: pointer;
    background: #3596F5;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    display:grid;
    flex-wrap: wrap;
    align-content: center;
    button{
        background: inherit;
    }
}

.modal {
    position: fixed; //фиксируем позицию окна поверх всего сайта//
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);  //Полупрозрачный черный цвет на фоне//
    display: flex;  //Делаем родительский элемент грибким что бы далее прилепить окно к центру//
    justify-content: center;
    align-items:center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}
.is-open{
    opacity: 1;
    transform: scale(1);
}


.modal-dialog {
    position: relative;
    max-width: 1003px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}
.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal-image {
    background-color: #ebebeb;
    width: 60%;
    text-align: center;
    padding: 50px;
    .flats{               //подсвечиваем картинку на которую наводим мышкой//
        path{
            opacity: 0;
            cursor: pointer;
        }
        path:hover{
            opacity: 1;
        }
    }
}

.modal-title{
    font-family: 'BebasNeueRegular';
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}

.modal-info {
    padding: 50px 46px;
    width: 40%;
    font-family: 'BebasNeueRegular';
    font-size: 24px;
    line-height: 29px;
    a{
        color: #635854;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
    }
    a:hover{
        color:#3596F5;
        text-decoration: underline;
    }
    .flat-list{
        padding-top: 55px;
        padding-bottom: 45px;
    }
    p{
        font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    }
}

.modal-close-button{
    position: absolute;
    right: 27px;
    top: 27px;
    background-color: transparent;
}

.container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}


@media (max-width: 1400px) {
    .container{
        width: 90%;
        max-width: 1280px;
    }
}
@media (max-width: 1200px) {
    .container{
        width: 90%;
        max-width: 960px;
    }
    .link__navbar{
        margin-left: 20px;
        margin-right: 20px;
    }
    .main-info{
        margin-left: 40px;
    }
}
@media (max-width: 992px) {
    .container{
        width: 90%;
        max-width: 760px;
    }
    .navbar__panel{
        display: block;
        display: none;
        position: absolute;
        top: 60px;
        right: 60px;
        background-color: #635854;
        padding: 15px;
        border-radius:5px;
    }
    .header__nav{
        text-align: center;
    }
    .navbar__contacts{
        text-align: center;
    }
    .navbar__content{
        display: block;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .link__navbar{
        margin-bottom: 15px;
    }
    .menu-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        width: 30px;
        height: 25px;
        cursor: pointer;
        .line{
            width: 100%;
            height: 3px;
            background-color: #fff;
            display: block;
        }
    }
}
@media(max-width: 768px){
    .main{
        display: block;
    }
    .main-info{
        margin-top: 25px;
        margin-right: 40px;
        margin-bottom: 25px;
    }
    .modal-dialog{
        display: block;
        max-width: 433px;
    }
    .modal-image{
        width: 100%;
        
    }
    .modal-info{
        width: 100%;
        text-align: center;
    }
}