@import "_nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.svg') format('svg'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
}

.header{
    background-color: #635854;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: solid 4px #3596F5;
    color: #fff;
    a{
        color: inherit;
    }
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    ul{
        display: flex;
        font-size: 16px;
        line-height: 18.75px;
        li{
            text-align: center;
            padding-right: 40px;
            padding-left: 40px;
            margin: 0 auto;
            cursor: pointer;
            }
    }
}


.navbar__contacts{
    display:grid; // Проверь как лучше !!!//
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    a{
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        cursor: pointer;
    }
}

.main{
    display: flex;
    max-width: 1280px;
    padding: 54px 81px 99px 81px;
    margin: auto;
    justify-content: center;
}

.home{
    path{
        opacity: 0;
        cursor: pointer;
    }
    path:hover{
        opacity: 0.85;
    }
    path.current-floor{
        opacity: 0.85;  //Здесь класс, котрый был создан в JS !//
    }
}

.counter{
    display:grid;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
    padding: 68px 122px 68px 122px;
    img{
        display: block;
        margin: auto;
    }
}

.counter__text{
    font-family: 'BebasNeueRegular' , sans-serif;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}

.counter__group{
    display: flex;
    flex-direction: column;
    align-items:center;
    span{
        font-family: 'BebasNeueRegular', sans-serif;
        font-size: 105px;
        color: #635854;
    }
}



.arrow{
    background-color:#fff;
}

.arrow-1{
    padding-bottom: 35px;
    cursor: pointer;
}

.arrow-2{
    transform: rotate(180deg);
    padding-bottom: 35px;
    cursor: pointer;
}

.floor__button{
    width: 297px;
    height: 51px;
    cursor: pointer;
    background: #3596F5;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    display:grid;
    flex-wrap: wrap;
    align-content: center;
    button{
        background: inherit;
    }
}
